@import 'src/assets/styles/reset';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/shared';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/typography';

h2 {
  padding: 1.1rem 0;
  font-size: 2rem;
  font-family: $font-primary;
  font-weight: 700;
  color: $text-primary;
}
hr {
  margin-bottom: 2rem;
  border-top-width: 0;
  border-color: $text-white-dark;
}
.capitalize {
  text-transform: capitalize;
}
@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
