.banner {
  &-list {
    padding: 0 0 3rem;
  }
  &-item {
    height: 28.3rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.box {
  @include flexCenter();
  &s {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
    padding: 2.3rem 0 2.2rem;
    border: 1px solid $text-white-dark;
  }
  & img {
    width: 3.9rem;
    height: 3.9rem;
    margin-right: 1.3rem;
    filter: $filter-banner-icon;
  }
  &__description {
    font-family: $font-primary;
  }
  &__text {
    font-family: $font-primary;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: $text-primary;
  }
  &__sub-text {
    font-family: $font-primary;
    font-size: 1.3rem;
    color: $text-semi-light;
  }
}

.adv {
  position: relative;
  overflow: hidden;
  background-color: $bg-contrary-dark;
  border-radius: 0.3rem;

  &s {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-content: space-between;
    overflow: hidden;
    padding: 3rem 0;
  }
  & img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
  }
  &__content {
    position: absolute;
    top: 3rem;
    left: 3.5rem;
  }

  &__sub-title {
    padding-bottom: 0.7rem;
    font-family: $font-primary;
    font-size: 1.8rem;
    color: $text-primary;
    &.white {
      color: $text-extra-dark;
    }
    & span {
      text-transform: uppercase;
    }
  }
  &__title {
    font-family: $font-primary;
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-primary;
    &.white {
      color: $text-white-light;
    }
  }
  &__type {
    padding-bottom: 2rem;
    font-family: $font-primary;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: $text-primary;
    &.white {
      color: $text-white-light;
    }
  }
  &__description {
    font-family: $font-primary;
    font-size: 1.4rem;
    color: $text-semi-light;
    &.white {
      color: $text-white-light;
    }
    &.capitalize {
      text-transform: capitalize;
    }
  }
  & span {
    font-weight: 700;
    color: $secondary-color;
  }
}
@media #{$info-screen-1200} {
}
