.register {
  @include flexCenter;
  height: 100%;
  &-wrapper {
    width: 40rem;
    padding: 3rem 3.5rem;
  }
  &-heading {
    font-size: 2.6rem;
    margin-bottom: 0.3rem;
    color: $hover-color;
    font-weight: bold;
    text-align: center;
    & img {
      width: 14.4rem;
      height: auto;
    }
  }
  &-description {
    margin-bottom: 1.5rem;
    font-family: $font-primary;
    font-size: 1.3rem;
    color: #c9c9c9;
    text-align: center;
    font-style: italic;
  }
  &-success {
    color: $text-primary;
    font-size: 1.5rem;
    line-height: 1.6;
    cursor: pointer;
    b {
      font-weight: bold;
      color: $bg-primary;
    }
  }
  &-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    border-radius: 4px;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    padding: 10px;
  }
  &-form {
    .form-group {
      position: relative;
      margin-bottom: 2rem;
      .password-icon {
        position: absolute;
        top: 3rem;
        right: 1rem;
        color: #999;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    .form-label {
      display: block;
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
      color: $text-light;
    }
    .form-input {
      width: 100%;
      padding: 10px 10px 10px 40px;
      font-family: $font-primary;
      color: $text-extra-dark;
      outline: none;
      border: none;
      border-bottom: 1px solid #c9c9c9;
      border-radius: 0;
      overflow: hidden;
      background-color: transparent;
      transition: border-color 0.2s ease-in;
      &:focus {
        outline: none;
        background-color: transparent;
        border-color: $hover-color;
        color: $text-semi-light;
        box-shadow: $box-shadow;
      }
      &:focus + .form-icon {
        color: $text-semi-light;
      }
      &.error {
        outline: none;
        background-color: transparent;
        border-color: #a94442;
      }
      &.input-password{
        padding-right: 3.5rem;
      }
    }
    .form-icon {
      position: absolute;
      top: 3rem;
      left: 1rem;
      color: $text-light;
      font-size: 1.5rem;
    }
    .form-error {
      display: block;
      color: $bg-danger;
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 10px;
    }
    .form-forgot {
      font-size: 1.3rem;
      margin-top: 1.5rem;
      color: darkslategray;
      font-weight: normal;
      font-style: italic;
      b {
        color: $bg-primary;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .form-button {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: $font-primary;
      display: block;
      padding: 12px;
      background-color: #3eb2fd;
      background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
      border: 0;
      outline: 0;
      color: #fff;
      line-height: 1.2;
      cursor: pointer;
      border-radius: 4px;
      text-transform: capitalize;
      &:hover {
        opacity: 0.95;
      }
    }
  }
}
