@import 'variables';

html,
body {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: $font-primary;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;

  @media #{$info-screen-992} {
    font-size: 15px;
  }
  @media #{$info-screen-768} {
    font-size: 14px;
  }
  @media #{$info-screen-575} {
    font-size: 12px;
  }
}
